	<div class="popup__title">Добавление блюда</div>
	<!-- /.popup__title -->
	<div class="popup__content">
		<form class="popup__form">
			<div class="popup__left">
				<div class="popup__images">
					<div class="swiper-large ">
						<div class="swiper-large__top popup__images-main">
							<div class="swiper-container" data-swiper-large>
								<div class="swiper-wrapper">
									{% for item in [1, 2, 3, 4, 5, 6] %}
									<div class="swiper-slide">
										<div class="swiper-large__item swiper-large__item_large">
											<img data-src="images/swiper.png" src="images/swiper.png" alt=""
												class="swiper-large__pic swiper-large__pic_big lazyload" />
											<a href="#" class="popup__images-link">
												Изменить заглавное фото
											</a>
										</div>
										<!-- /.swiper-large__item swiper-large__item_large -->
									</div>
									<!-- /.swiper-slide -->
									{% endfor %}
								</div>
								<!-- /.swiper-wrapper -->
							</div>
							<!-- /.swiper-container -->
						</div>
						<!-- /.swiper-large__top -->
						<div class="swiper-large__bottom">
							<div class="swiper-container" data-swiper-large-thumb
								data-options='{ "slidesPerView": 4, "watchSlidesVisibility": true, "watchSlidesProgress": true, "breakpoints": {"768": { "slidesPerView": 4, "spaceBetween": 0 }} }'>
								<div class="swiper-wrapper">
									{% for item in [1, 2, 3, 4, 5, 6] %}
									<div class="swiper-slide">
										<div class="swiper-large__item swiper-large__item_small popup__images-item">
											<img data-src="images/swiper.png" src="images/swiper.png" alt=""
												class="swiper-large__pic swiper-large__pic_small lazyload" />
											<div class="popup__images-delete"></div>
										</div>
										<!-- /.swiper-large__item swiper-large__item_small -->
									</div>
									<!-- /.swiper-slide -->
									{% endfor %}
								</div>
								<!-- /.swiper-wrapper -->
							</div>
							<!-- /.swiper-container -->
							<div class="swiper__arrow swiper__arrow_large">
								<div class="swiper__prev swiper__prev_banner js-swiper__prev"></div>
								<div class="swiper__next swiper__next_banner js-swiper__next"></div>
							</div>
							<!-- /.swiper__arrow swiper__arrow_large -->
						</div>
						<!-- /.swiper-large__bottom -->
					</div>
					<!-- /.swiper-large -->

					<!-- /.popup__images-main -->

					<a href="" class="popup__images-add">
						Добавить фото
					</a>
					<!-- /.popup__images-add -->

				</div>
				<!-- /.popup__images -->
			</div>
			<!-- /.popup__left -->
			<div class="popup__right">
				<div class="popup__row">
					<div class="popup__subtitle">
						Название блюда
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" data-form-label class="popup__input" placeholder="Гуйнику Лемонграсс">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Название блюда
					</div>
					<!-- /.popup__subtitle -->
					<select class='popup__select'>
						<option value="Первые блюда" selected="">Первые блюда</option>
						<option value="Вторые блюда">Вторые блюда</option>
						<option value="Напитки">Напитки</option>
					</select>
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="profile__subtitle">
						Описание блюда
					</div>
					<!-- /.profile__subtitle -->
					<textarea class="profile__input" placeholder="Введите описание..."></textarea>
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="profile__subtitle">
						Состав блюда
					</div>
					<!-- /.profile__subtitle -->
					<textarea class="profile__input" placeholder="Введите описание..."></textarea>
				</div>
				<!-- /.popup__row -->
				<div class="popup__box">
					<div class="popup__row">
						<div class="popup__subtitle">
							Цена, ₽
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
					<div class="popup__row">
						<div class="popup__subtitle">
							Вес блюда, гр.
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
					<div class="popup__row">
						<div class="popup__subtitle">
							Кол-во калорий на 100 гр.
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
				</div>
				<!-- /.popup__block -->
				<input type="submit" class="popup__submit" value="Сохранить блюдо">
			</div>
			<!-- /.popup__right -->
		</form>
	</div>
	<!-- /.popup__content -->
