	<div class="popup__title">Добавление блюда</div>
	<!-- /.popup__title -->
	<div class="popup__content">
		<form class="popup__form">
			<div class="popup__left">
				<div class="popup__images">
					<div class="popup__images-main">
						<img src="images/swiper.png" alt="">
						<a href="#" class="popup__images-link">
							Изменить заглавное фото
						</a>
						<!-- /.popup__images-link -->
					</div>
					<!-- /.popup__images-main -->
					<div class="popup__images-choice">
						<div class="popup__images-item">
							<div class="popup__images-pic">
								<img src="images/swiper.png" alt="">
							</div>
							<!-- /.popup__images-pic -->
							<div class="popup__images-delete"></div>
							<!-- /.popup__images-delete -->
						</div>
						<!-- /.popup__images-item -->
						<div class="popup__images-item">
							<div class="popup__images-pic">
								<img src="images/swiper.png" alt="">
							</div>
							<!-- /.popup__images-pic -->
							<div class="popup__images-delete"></div>
							<!-- /.popup__images-delete -->
						</div>
						<!-- /.popup__images-item -->
						<div class="popup__images-item">
							<div class="popup__images-pic">
								<img src="images/swiper.png" alt="">
							</div>
							<!-- /.popup__images-pic -->
							<div class="popup__images-delete"></div>
							<!-- /.popup__images-delete -->
						</div>
						<!-- /.popup__images-item -->
						<div class="popup__images-item">
							<div class="popup__images-pic">
								<img src="images/swiper.png" alt="">
							</div>
							<!-- /.popup__images-pic -->
							<div class="popup__images-delete"></div>
							<!-- /.popup__images-delete -->
						</div>
						<!-- /.popup__images-item -->
					</div>
					<!-- /.popup__images-choice -->
					<a href="" class="popup__images-add">
						Добавить фото
					</a>
					<!-- /.popup__images-add -->

				</div>
				<!-- /.popup__images -->
			</div>
			<!-- /.popup__left -->
			<div class="popup__right">
				<div class="popup__row">
					<div class="popup__subtitle">
						Название блюда
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" data-form-label class="popup__input" placeholder="Гуйнику Лемонграсс">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Название блюда
					</div>
					<!-- /.popup__subtitle -->
					<select class='popup__select'>
						<option value="Первые блюда" selected="">Первые блюда</option>
						<option value="Вторые блюда">Вторые блюда</option>
						<option value="Напитки">Напитки</option>
					</select>
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="profile__subtitle">
						Описание блюда
					</div>
					<!-- /.profile__subtitle -->
					<textarea class="profile__input" placeholder="Введите описание..."></textarea>
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="profile__subtitle">
						Состав блюда
					</div>
					<!-- /.profile__subtitle -->
					<textarea class="profile__input" placeholder="Введите описание..."></textarea>
				</div>
				<!-- /.popup__row -->
				<div class="popup__box">
					<div class="popup__row">
						<div class="popup__subtitle">
							Цена, ₽
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
					<div class="popup__row">
						<div class="popup__subtitle">
							Вес блюда, гр.
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
					<div class="popup__row">
						<div class="popup__subtitle">
							Кол-во калорий на 100 гр.
						</div>
						<!-- /.popup__subtitle -->
						<input type="text" data-form-label class="popup__input" placeholder="1 390">
					</div>
					<!-- /.popup__row -->
				</div>
				<!-- /.popup__block -->
				<input type="submit" class="popup__submit" value="Сохранить блюдо">
			</div>
			<!-- /.popup__right -->
		</form>
	</div>
	<!-- /.popup__content -->
