<div class="popup__content delete-user">
	<div class="popup__title">Подтвердите удаление</div>
	<div class="popup__excerpt">
		<p>Вы действительно хотите удалить пользователя:</p>
	</div>
	<div class="delete-user__mini">
		<div class="delete-user__pic">
			<img src="images/user.png" alt="" class="stub">
		</div>
		<!-- /.delete-user__pic -->
		<div class="delete-user__name">
			<span>Константинопольский</span>
			<span>Константин</span>
		</div>
		<!-- /.delete-user__name -->
	</div>
	<!-- /.delete-user__mini -->
	<div class="popup__buttons">
		<a href="#" class="popup__cancel ">Нет, оставить</a>
		<a href="#" class="popup__submit ">Да, удалить</a>
	</div>
</div>
