<div class="lk-order">
	<h1 class="mobile-app__subtitle">
		Личный кабинет официанта
	</h1>
	<div class="lk-order-form">
		<form action="">
			<div class="lk-order-form__pic">
				<div class="popup__pic">
					<img src="images/file.svg" alt="" class="stub">
				</div>
				<div class="file">
					<div class="file__footer">
						<span class="file__button">Загрузить фото
							<input class="file__input" type="file" accept="image/*">
						</span>
					</div>

				</div>
			</div>
			<!-- /.lk-order-form__pic -->
			<div class="lk-order-form__list">
				<div class="popup__row">
					<div class="popup__subtitle">
						Фамилия
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" required="" data-form-label="" class="popup__input" placeholder="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Имя
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" required="" data-form-label="" class="popup__input" placeholder="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Телефон
					</div>
					<!-- /.popup__subtitle -->
					<input type="tel" required="" data-form-label="" class="popup__input"
						placeholder="+7 _ _ _ – _ _ – _ _" value="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						E-mail
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" required="" data-form-label="" class="popup__input">
				</div>
				<div class="lk-order-middle__caption">
					Безопасность
					<a href="#">
						Забыли пароль?
					</a>
				</div>
				<!-- /.lk-order-middle__caption -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Текущий пароль
					</div>
					<!-- /.popup__subtitle -->
					<input type="password" required="" data-form-label="" class="popup__input" value="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Новый пароль
					</div>
					<!-- /.popup__subtitle -->
					<input type="password" required="" data-form-label="" class="popup__input" value="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<div class="popup__subtitle">
						Повторите новый пароль
					</div>
					<!-- /.popup__subtitle -->
					<input type="password" required="" data-form-label="" class="popup__input" value="">
				</div>
				<!-- /.popup__row -->
				<div class="popup__row">
					<input type="submit" class="popup__submit" value="Сохранить изменения">
					<!-- /.login__button -->
				</div>
			</div>
			<!-- /.lk-order-form__list -->
		</form>
	</div>
	<!-- /.lk-order-form -->
</div>
<!-- /.lk-order -->
