<div class="popup__content free-call">
	<div class="popup__title">Вы действительно хотите удалить блюдо?</div>
	<div class="popup__buttons">
		<a href="#" class="popup__cancel ">Да, удалить</a>
		<button type="button" class="popup__submit " value="Нет, оставить">Нет, оставить</button>
	</div>
</div>
