.landing {
	width: 100%;
	// max-width: 1440px;
	margin: 0 auto;

	a {
		cursor: pointer;
	}

	img {
		max-width: 100%;
		max-height: 100%;
	}

	&-head {
		display: flex;
		align-items: center;
		max-width: 1238px;
		margin: 0 auto 56px;
		padding: 20px 0;

		.lang {
			&__link {
				color: #000000;
			}

			&__list {
				background: white;
			}
		}

		&__logo {
			margin-right: auto;

			img {}
		}

		&__link {
			margin: 0 auto;

			a {
				color: black;
				font-size: 20px;
				font-weight: 500;
				line-height: 27px;

				&:active {}

				&:focus {}

				&:hover,
				&.active {
					color: #f5a623;
				}

				&:not(:last-of-type) {
					margin-right: 36px;
				}
			}
		}

		&__registration {
			padding: 10px 26px;
			border-radius: 4px;
			background: #f5a623;
			color: #ffffff;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}
	}

	&-left,
	&-right {
		width: 50%;
	}

	&-title {
		font-family: "CoolveticaRg";
		font-size: 32px;
		font-weight: 400;
		line-height: 43px;
		letter-spacing: 0.5px;
		text-transform: none;

		h1 {
			font-size: 44px;
		}
	}

	&-link {
		padding: 10px 26px;
		border-radius: 4px;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;

		&:hover {
			opacity: 0.9;
		}
	}

	&-text {
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.3125px;
	}

	&-desc {
		font-size: 15px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0.234375px;
	}

	&-paper {
		display: flex;
		width: 100%;
		max-width: 1195px;
		margin: 0 auto 82px;

		.landing-text {
			max-width: 480px;
			margin-bottom: 40px;
		}

		.landing-left {
			text-align: center;

			// padding-left: 40px;
			img {
				max-width: 535px;
				max-height: 608px;
			}
		}

		.landing-right {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			justify-content: center;
		}

		.landing-link {
			border: solid 1px #007aff;
			background: #ffffff;
			color: #007aff;
			margin-bottom: 20px;
		}

		.landing-title {
			margin-bottom: 24px;
			text-align: center;
		}
	}

	&-restaurants {
		display: flex;
		position: relative;
		width: 100%;
		max-height: 561px;
		margin-bottom: 192px;

		&:before {
			content: "";
			position: absolute;
			top: 45px;
			left: 50%;
			width: 448px;
			height: 605px;
			max-height: 605px;
			transform: translateX(-50%);
			background: url("../images/White-Clay.png");
			background-size: contain;
			background-position: top center;
			background-repeat: no-repeat;
		}

		.landing-text {
			max-width: 408px;
			margin-bottom: 20px;
			color: #ffffff;
		}

		.landing-link {
			border: solid 1px #ffffff;
			padding: 17px 40px;
			color: #ffffff;
			margin-bottom: 13px;
			margin-top: 18px;
		}

		.landing-title {
			margin-bottom: 32px;
			color: #ffffff;
		}

		.landing-left {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			justify-content: center;
			background: #007aff;
			padding-left: 7%;
		}

		.landing-right {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&-slide {
		display: flex;
		max-width: 1240px;
		margin: 0 auto 129px;

		.landing-right {
			padding-left: 51px;
			padding-top: 16px;
		}

		.landing-left {
			.swiper {
				position: relative;
				padding-top: 9px;

				&-pagination {
					display: flex;
					top: 0;
					width: 100%;
					height: calc(100% - 20px);

					&-bullet {
						display: flex;
						flex-grow: 1;
						position: relative;
						width: 85px;
						height: auto;
						background: unset;
						border-radius: unset;
						margin-right: 3px;

						&:before {
							content: "";
							width: 100%;
							height: 2px;
							background: #d8d8d8;
							opacity: 0.7508836;
						}

						&-active {
							width: 85px;
							height: auto;
							transform: unset;
							opacity: 1;

							&:before {
								background: #f5a623;
							}
						}
					}
				}

				&-info {
					color: #81858b;
					font-size: 14px;
					font-weight: 400;
					line-height: 20px;
					text-align: center;
					letter-spacing: 0.21875px;
					margin-top: 14px;
				}
			}
		}

		.landing-title {
			margin-bottom: 44px;
		}

		.landing-text {
			margin-bottom: 14px;
		}

		ol {
			max-width: 470px;
			counter-reset: myCounter;
			padding-left: 0;
		}

		li {
			position: relative;
			list-style: none;
			padding-left: 58px;

			&:not(:last-of-type) {
				margin-bottom: 42px;
			}
		}

		li:before {
			content: counter(myCounter);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			left: 0;
			width: 32px;
			height: 32px;
			counter-increment: myCounter;
			color: #007aff;
			background: #007aff1a;
			// margin: 5px 10px;
			font-size: 20px;
			font-weight: 400;
			line-height: 28px;
			text-align: center;
			letter-spacing: 0.3125px;
			border-radius: 50%;
		}

		.landing-disclaimer {
			color: #007aff;
			font-size: 16px;
			font-weight: 500;
			line-height: 24px;
			letter-spacing: 0.25px;
		}
	}

	&-why {
		max-width: 1240px;
		margin: 0 auto 76px;

		.landing-title {
			margin-bottom: 99px;
			text-align: center;
		}

		.landing-list {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			margin: 0 -10px;
		}

		.landing-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;
			width: calc(100%/3 - 20px);
			margin: 0 10px 104px;
			padding: 72px 35px 40px;
			transition: 0.3s;
			background: #ffffff;
			box-shadow: 0 0 15px 0 rgba(25, 104, 252, 0.1);
			border-radius: 8px;
			text-align: center;

			&:hover {
				transform: scale(1.08);
				box-shadow: 0 20px 60px 0 rgba(25, 104, 252, 0.1);
			}

			&:nth-last-child(-n+2) {
				margin-bottom: 0;
				padding-bottom: 44px;
			}

			&__bg {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 0;
				left: 50%;
				width: 96px;
				height: 96px;
				transform: translateX(-50%);
				background: #007aff;
				box-shadow: 0 17px 18px rgba(0, 122, 255, 0.25);
				border-radius: 50%;
				margin-top: -48px;

				&.developing {
					background: #f5a623;

					&:after {
						content: "В разработке";
						position: absolute;
						bottom: -15px;
						width: 121px;
						height: 24px;
						border-radius: 20px;
						background: #0072ff;
						color: #ffffff;
						font-size: 14px;
						font-weight: 500;
						line-height: 20px;
						text-align: center;
					}
				}
			}
		}

		.landing-text {
			margin-bottom: 14px;
			font-size: 20px;
			font-weight: 400;
			line-height: 27px;
			text-align: center;
			letter-spacing: 0.3125px;
			font-family: "CoolveticaRg";
		}

		.swiper {
			display: none;
		}
	}

	&-help {
		display: flex;
		max-height: 561px;
		margin-bottom: 62px;

		.landing-right {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			justify-content: center;
			background: #007aff;
			padding-left: 107px;
		}

		.landing-title {
			max-width: 382px;
			margin-bottom: 14px;
			color: #ffffff;
		}

		.landing-text {
			display: flex;
			align-items: center;
			position: relative;
			margin-bottom: 16px;
			color: #ffffff;

			img {
				// position: absolute;
				// left: 0;
				flex-shrink: 0;
				margin-right: 24px;
				// width: 64px;
				// height: 64px;
			}
		}

		.landing-link {
			border: 1px solid #fff;
			padding: 17px 30px;
			color: #fff;
			margin-bottom: 2px;
			margin-top: 31px;
		}

		.landing-left {
			img {
				width: 100%;
				height: 100%;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}
	}

	&-setting {
		display: flex;
		flex-wrap: wrap;
		max-width: 1032px;
		margin: 0 auto 75px;

		.landing-right {
			display: flex;
			flex-direction: column;
			align-items: baseline;
			width: calc(50% - 11px);
			padding-top: 46px;
			padding-left: 47px;
		}

		.landing-left {
			width: calc(50% + 11px);
			text-align: right;

			img {
				width: 640px;
				max-width: 640px;
				max-height: 672px;
				margin-top: -39px;
				margin-left: -51px;
			}
		}

		.landing-title {
			width: 100%;
			text-align: center;
			margin-bottom: 35px;
		}

		.landing-text {
			margin-bottom: 13px;
			font-family: "CoolveticaRg";
		}

		.landing-desc {
			max-width: 353px;
			margin-bottom: 40px;
		}

		.landing-link {
			background: #0072ff;
			color: #ffffff;
			margin-top: 3px;
		}
	}

	&-number {
		display: flex;
		flex-direction: column;
		max-width: 1240px;
		margin: 0 auto 80px;

		.landing-top {
			display: flex;
			position: relative;
			border-radius: 16px;
			background: #f5a623;
			box-shadow: 0 17px 18px rgba(245, 166, 35, 0.05);
			color: #ffffff;
			margin-bottom: 40px;

			&:before {
				content: "";
				position: absolute;
				bottom: 0;
				left: 55%;
				width: 230px;
				height: 223px;
				transform: translateX(-50%);
				background: url(../images/landing-number.png);
				background-size: cover;
				background-position: 0 0;
				background-repeat: no-repeat;
			}
		}

		.landing-left {
			padding: 38px 48px 38px;
		}

		.landing-title {
			letter-spacing: 0;
		}

		.landing-right {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			width: 367px;
			margin-left: auto;
			padding-bottom: 30px;
		}

		.landing-tel {
			font-size: 40px;
			font-weight: 200;
			line-height: 40px;
			color: #ffffff;
			margin-bottom: 6px;
		}

		.landing-email {
			color: #ffffff;
			font-size: 24px;
			font-weight: 300;
			line-height: 40px;
		}

		.landing-bottom {
			display: flex;
			flex-direction: column;
			width: 512px;
			margin: 0 auto 18px;

			.landing-title {
				text-align: center;
				margin-bottom: 18px;
			}

			.landing-text {
				text-align: center;
			}
		}

		.landing-call {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 400px;
			margin: 0 auto;

			&__name {
				color: #81858b;
				font-size: 15px;
				font-weight: 400;
				line-height: 28px;
				text-align: center;
				letter-spacing: 0.234375px;
				margin-bottom: 15px;
			}

			&__input {
				width: 100%;
				border: none;
				font-size: 24px;
				font-weight: 400;
				line-height: 28px;
				text-align: center;
				letter-spacing: 0.375px;
				box-shadow: none;
				padding-bottom: 16px;
				border-bottom: 2px solid #f5a623;
				margin-bottom: 24px;

				&.BadPols {
					background: rgba(255, 59, 48, .12157);
				}
			}

			&__submit {
				align-self: center;
				max-width: 320px;
				border: none;
				padding: 10px 60px;
				border-radius: 4px;
				background: #f5a623;
				color: #fff;
				font-size: 17px;
				font-weight: 400;
				line-height: 20px;
				text-align: center;
				cursor: pointer;

				&:hover {
					opacity: 0.9;
				}

				&[disabled] {
					opacity: 0.5;
					pointer-events: none;
				}
			}

			form {
				text-align: center;
			}
		}
	}

	&-footer {
		background: #000000;
		color: #ffffff;
	}

	@media (--phone) {
		margin-top: -64px;

		.landing-left,
		.landing-right {
			width: 100%;
		}

		.landing-title {
			font-size: 24px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: 0.375px;

			h1 {
				font-size: 28px;
			}
		}

		.landing-text {
			font-size: 16px;
			font-weight: 400;
			line-height: 24px;
			letter-spacing: 0;
		}

		.landing-disclaimer {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			letter-spacing: 0.21875px;
		}

		&-head {
			flex-wrap: wrap;
			justify-content: center;
			position: relative;
			padding: 16px 0 6px;
			margin-bottom: 14px;

			.lang {
				position: absolute;
				top: 7px;
				right: -10px;
				margin-right: 0;

				&__list {
					&.active {
						top: 32px;
					}
				}
			}

			&__registration {
				display: none;
			}

			&__link {
				width: 100%;
				text-align: center;

				a {
					font-size: 18px;

					&:not(:last-of-type) {
						margin-right: 26px;
					}
				}
			}

			&__logo {
				margin-right: 0;
				margin-bottom: 19px;
			}
		}

		&-paper {
			flex-direction: column;
			margin-bottom: 8px;

			.landing-left {
				max-width: 224.83px;
				margin: 0 auto 34px;
				padding-left: 0;

				img {
					max-width: 100%;
					max-height: 100%;
				}
			}

			.landing-right {
				align-items: center;
				padding: 0 4%;
				text-align: center;
			}

			.landing-title {
				margin-bottom: 13px;
			}

			.landing-text {
				margin-bottom: 14px;
			}
		}

		&-restaurants {
			width: auto;
			max-height: unset;
			margin: 0 -16px;

			&:before {
				top: 22px;
				right: -37px;
				left: unset;
				width: 160px;
				transform: unset;
			}

			.landing-right {
				display: none;
			}

			.landing-left {
				padding: 56px 24px 40px;
			}

			.landing-title {
				width: 100%;
				margin-bottom: 14px;
				padding-right: 110px;
			}

			.landing-text {
				padding-right: 110px;
				margin-bottom: 16px;
			}

			.landing-link {
				width: 100%;
				padding: 10px 10px;
				margin-top: 47px;
				margin-bottom: 0;
			}
		}

		&-slide {
			flex-direction: column-reverse;
			padding-top: 21px;
			margin-bottom: 39px;

			.landing-right {
				padding-left: 0;

				ol {
					max-width: unset;
				}

				li {
					padding-left: 40px;
					margin-bottom: 24px;
					padding-right: 6px;

					&:before {
						left: -6px;
					}
				}
			}

			.landing-title {
				text-align: center;
				margin-bottom: 24px;
			}

			.landing-text {
				margin-bottom: 8px;
			}

			.landing-left {
				width: auto;
				margin: 0 -16px;

				.swiper {
					&-pagination {
						width: 100%;
						height: auto;
						padding: 0 10px;

						&-bullet {
							flex-grow: 1;
							width: auto;
						}
					}

					&-info {
						max-width: 225px;
						margin: 10px auto 0;
						font-size: 12px;
						font-weight: 400;
						line-height: 16px;
					}
				}
			}
		}

		&-why {
			margin-bottom: 64px;

			.landing-list {
				display: none;
			}

			.landing-title {
				padding: 0 5%;
				margin-bottom: 24px;
			}

			.swiper {
				display: block;
				position: relative;
				margin: 0 -16px;
				padding-bottom: 18px;

				&-pagination {
					display: flex;
					bottom: 0;
					width: 100%;
					height: auto;
					padding: 0 10px;

					&-bullet {
						display: flex;
						flex-grow: 1;
						position: relative;
						width: auto;
						height: auto;
						background: unset;
						border-radius: unset;
						margin-right: 3px;

						&:before {
							content: "";
							width: 100%;
							height: 2px;
							background: #d8d8d8;
							opacity: 0.7508836;
						}

						&-active {
							width: auto;
							height: auto;
							transform: unset;
							opacity: 1;

							&:before {
								background: #f5a623;
							}
						}
					}
				}

				.landing-item {
					width: 100%;
					margin: 0;
					padding: 83px 16px 37px;
				}

				.landing-text {
					font-size: 18px;
					font-weight: 400;
					line-height: 24px;
					text-align: center;
					letter-spacing: 0.28125px;
				}

				&-slide {
					padding-top: 50px;

					// max-height: 0;
					// opacity: 0;
					// transition: max-height .300ms, opacity .300ms;
					&-active {
						// max-height: unset;
						// opacity: 1;
					}
				}

				&-container {
					overflow: visible;
					margin: 0 10px;
				}
			}
		}

		&-help {
			flex-direction: column;
			width: auto;
			max-height: unset;
			margin: 0 -16px 39px;

			.landing-right {
				padding: 32px 25px 36px;
			}

			.landing-title {
				margin-bottom: 28px;
			}

			.landing-text {
				margin-bottom: 25px;

				img {
					max-width: 48px;
					max-height: 48px;
					margin-right: 16px;
				}
			}

			.landing-link {
				width: 100%;
				padding: 10px 16px;
				margin-top: 5px;
			}

			.landing-left {
				width: auto;
				max-width: 100%;
				height: auto;
				max-height: 100%;
			}
		}

		&-setting {
			margin-bottom: 8px;

			.landing-title {
				margin-bottom: 21px;
			}

			.landing-right {
				padding: 17px 9px;
			}

			.landing-desc {
				margin-bottom: 20px;
			}

			.landing-text {
				font-size: 18px;
				font-weight: 400;
				line-height: 24px;
				letter-spacing: 0.28125px;
			}

			.landing-link {
				width: 100%;
			}

			.landing-left {
				img {
					width: auto;
					max-width: calc(100% + 108px);
					height: auto;
					max-height: calc(100% + 60px);
					margin-bottom: -40px;
					margin-top: -20px;
					margin-left: -51px;
				}
			}
		}

		&-number {
			margin: 0 -6px;

			.landing-top {
				flex-direction: column;
				margin-bottom: 30px;

				&:before {
					align-self: center;
					order: 3;
					position: static;
					transform: unset;
				}

				.landing-left {
					padding: 32px 25px 16px;
				}

				.landing-right {
					padding: 0 24px;
				}

				.landing-tel {
					margin-bottom: 9px;
				}

				.landing-email {
					margin-bottom: 18px;
				}
			}

			.landing-bottom {
				width: 100%;
				margin-bottom: 14px;

				.landing-text {
					padding: 0 16px;
				}

				.landing-title {
					margin-bottom: 15px;
				}
			}

			.landing-call {
				width: 100%;
				margin-bottom: 54px;
			}
		}

		&-footer {
			height: 48px;

			.footer__copyright {
				display: block;
				color: #ffffff;
				font-size: 12px;
				font-weight: 700;
				line-height: 16px;
				text-align: center;
				opacity: 1;
			}
		}
	}

	&~.footer {
		display: none;
	}
}
