.logo {
	&__link {
		display: flex;
		height: 24px;
		color: $white;
		font-size: 31px;
		font-weight: 600;
		line-height: 41px;
		text-transform: uppercase;
		align-items: center;

		&:hover {
			text-decoration: none;
		}
	}

	@media (--phone) {
		&__link {
			font-size: 24px;
			line-height: 26px;
		}
	}
}
