.profile {
	display: flex;
	align-items: flex-start;


	&__title {
		display: flex;
		margin-bottom: 22px;
	}

	&__link {
		display: flex;
		align-items: center;
		transform: rotate(180deg);
		margin-right: 16px;

		&:hover {}

		&:active {}

		&:focus {}
	}

	&__sidebar {
		width: 280px;
	}

	&__control {
		border-radius: 8px;
		background: #ffffff;
		display: flex;
		flex-direction: column;
		box-shadow: 0 2px 4px rgba(23, 29, 41, 0.08);
		padding: 30px 0 27px;
		margin-bottom: 16px;

		&-link {
			display: flex;
			align-items: center;
			position: relative;
			height: 39px;
			padding: 5px 32px;
			font-size: 20px;
			font-weight: 500;
			line-height: 27px;
			color: $black;
			margin-bottom: 10px;


			&:before {
				content: "";
				position: absolute;
				left: 0;
				width: 4px;
				height: 29px;
			}

			&:hover {
				background: rgba(0, 122, 255, 0.1);
			}

			&.active {
				color: $blue;

				&:before {
					background: $blue;
				}
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__institution {
		display: flex;
		align-items: center;
		justify-content: center;

		height: 40px;
		border-radius: 4px;
		background: #0072ff;
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		&:before {
			content: "+";
			margin-right: 8px;
			font-size: 28px;
			margin-bottom: 2px;
		}
	}


	&__aside {
		padding-left: 32px;
		flex-grow: 1;
		width: calc(100% - 280px);
	}

	&__items {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__item {
		display: flex;
		width: 100%;
		padding: 24px;
		border-radius: 8px;
		background: #ffffff;
		box-shadow: 0 4px 12px rgba(23, 29, 41, 0.08);
		margin-bottom: 16px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__pic {
		img {
			max-width: 298px;
			max-height: 228px;
		}
	}

	&__desc {
		flex-grow: 1;
		padding-left: 30px;
		position: relative;
	}

	&__caption {
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		margin-bottom: 24px;
	}

	&__row {
		margin-bottom: 18px;
		display: flex;
		flex-wrap: wrap;

		.profile__block & {
			width: calc(100%/3 - 14px);
		}

		&.glow {
			flex-grow: 1;
			margin-left: 16px;
		}
	}

	&__subtitle {
		font-size: 12px;
		font-weight: 400;
		line-height: 16px;
		margin-bottom: 5px;
		width: 100%;
	}

	&__information {
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-right: 14px;
	}

	&__qr {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 105px;
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		color: var(--blue);

		svg {
			margin-right: 8px;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}

	&__edit {
		display: flex;
		align-items: center;
		position: absolute;
		top: 24px;
		right: 0;
		width: 105px;
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		color: var(--blue);

		svg {
			margin-right: 8px;
		}

		&:hover {}

		&:active {}

		&:focus {}
	}

	&__input {
		position: relative;
		width: 100%;
		border: solid 1px #c8c9cc;
		padding: 10px 12px;
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		color: $black;
		border-radius: 4px;


		&[type="date"] {
			// &::-webkit-calendar-picker-indicator {
			// 	display: none;
			// }

			// &:after {
			// 	content: "";
			// 	width: 24px;
			// 	height: 24px;
			// 	background: url("../images/Iconscalendar.svg");
			// }
			&::-webkit-calendar-picker-indicator { background: url(../images/Iconscalendar.svg) }
		}
	}

	textarea {
		min-height: 88px;
	}

	&__block {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__submit {
		width: 137px;
		height: 40px;
		border-radius: 4px;
		background: $blue;
		-webkit-appearance: none;
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		border: 0;
		cursor: pointer;
	}
}
