<div class="main">
	<div class="main__inner">
		{% macro profileInput ( person = '',management='') %}
		<div class="main__data">
			<div class="main__title">
				Данные
			</div>
			<!-- /.main__title -->
		</div>
		<!-- /.main__data -->
		{% endmacro %}
		{% macro profile ( ) %}

		<!-- /.main__menu -->
		{% endmacro %}
	</div>
</div>
<!-- /.main -->
