.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: unset;

	&__item {
		width: calc(50% - 8px);
		margin-bottom: 8px;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;

		img {
			margin-right: 5px;
		}
	}

	@media (--phone) {
		width: 100%;

		&__item {
			width: unset;

			img {}
		}

		.mobile-app__content & {
			&__item {
				width: 50%;
				padding-right: 4px;
			}
		}

		.main__item & {
			margin-bottom: 12px;

			&__item {
				width: auto;
				margin-bottom: 8px;
				font-size: 8px;
				font-weight: 400;
				line-height: 20px;
				display: flex;
				flex-direction: column;
				align-items: center;
				min-width: 60px;

				&:nth-child(even) {
					margin: 0 1px 8px;
				}

				img {
					width: 20px;
					height: 20px;
					margin-bottom: 1px;
					margin-right: 0;
				}
			}
		}

		&.allergy {
			width: 100%;
			justify-content: unset;

			.icons__item {
				width: auto;
				display: flex;
				flex-direction: column;
				align-items: center;

				&:not(:last-child) {
					margin-right: 34px;
				}

				span {
					margin-top: 8px;
				}
			}
		}
	}
}
