.lang {
	margin-right: 37px;
	// padding-right: 14px;
	// background: url('../images/icon-down.svg') no-repeat 35px 8px;
	cursor: pointer;
	height: 40px;
	display: flex;
	align-items: center;

	&__list {
		display: flex;

		&.active {
			flex-direction: column;
			position: relative;
			top: 40px;
			background: #0a0a0a;

			.lang__item,
			.lang__link {
				display: flex;

			}
		}
	}

	&__item {
		display: none;

		&.active {
			order: -1;
			display: flex;
		}
	}

	&__link {
		width: 40px;
		height: 40px;
		display: none;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		font-weight: 300;
		line-height: 21px;
		text-transform: uppercase;
		letter-spacing: 0.6px;
		color: $white;
		transition: background 300ms;
	}

	&__item.active &__link {
		display: flex;

	}

	@media (--phone) {
		margin-left: 0;

		.mobile & {
			margin-right: 0;

			#chevron-down {
				// fill: #73c9ff;
			}

			&__link {
				color: black;
			}

			&__list {
				&.active {
					top: 32px;
					background: white;
					box-shadow: 0 4px 12px rgba(23, 29, 41, .08);
					border-radius: 8px;
				}
			}

		}

		&__link {
			width: 32px;
			height: 32px;
			font-size: 14px;
		}
	}
}
