.header {
	background: #0a0a0a;
	position: relative;
	z-index: 1;

	&__inner {
		width: 1240px;
		margin: 0 auto;
		height: 64px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 64px;
	}

	&__col {
		width: 50%;

		&_right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	&__order {
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		display: none;
		align-items: center;

		svg {
			margin-right: 14px;
		}
	}

	@media (--phone) {
		padding: 0 16px 0 16px;
		position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		z-index: 10;
		background-color: white;
		z-index: 12;

		&__inner {
			width: 100%;
			height: 64px;
		}

		&__row {
			height: 64px;
			justify-content: unset;
		}

		&__col {
			width: auto;

			&_right {
				display: flex;
				justify-content: flex-end;
				align-items: center;
			}

			&_center {
				margin-left: auto;
				margin-right: 0;
			}
		}

		&__burger {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 50px;
			background: url("../images/icons-menu.svg") no-repeat center;
		}

		&__order {
			display: flex;
			position: relative;
			white-space: nowrap;

			.order-number {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background: var(--blue);
				color: #ffffff;
				font-size: 12px;
				font-weight: 400;
				line-height: 16px;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				position: absolute;
				top: -9px;
				left: 14px;
			}

			&.active {
				.order-number {
					opacity: 1;
				}
			}
		}
	}
}
