.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 44px;
	// background-color: #0f0f0f;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 4;

	&__inner {}

	&__copyright {
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		text-align: center;
		opacity: 0.25;
		padding: 14px 0;
	}

	&__boss {
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		text-align: center;
		text-decoration: underline;
		display: none;
	}

	@media (--phone) {
		height: 72px;
		padding: 0 16px;

		&__boss {
			display: flex;
		}

		&__copyright {
			display: none;
		}
	}
}
