.footer {
	// background-color: #0f0f0f;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 4;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 44px;

	@media (--phone) {
		height: auto;
		padding: 0 16px;

		&__boss {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 40px;
			border: solid 1px #f5a623;
			border-radius: 4px;
			background: #ffffff;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			text-decoration: unset;
			color: #f5a623;
			margin-top: 18px;
		}

		&__copyright {
			display: none;
		}
	}

	&__inner {
		width: 100%;
	}

	&__copyright {
		padding: 14px 0;
		font-size: 12px;
		font-weight: 700;
		line-height: 16px;
		text-align: center;
		opacity: 0.25;
	}

	&__boss {
		display: none;
		font-size: 16px;
		font-weight: 500;
		line-height: 21px;
		text-align: center;
		text-decoration: underline;
	}
}
