<div class="footer">
	<div class="footer__inner">
		<div class="footer__copyright">© 2020. Онлайн-меню.ру</div>
		<!-- /.footer__copyright -->
		<!-- <a href="#" class="footer__boss " data-ajax data-url="ajax/popup/boss/boss.html">
			Жалоба руководству и шеф повару
		</a> -->
		<!-- /.footer__boss -->
	</div>
	<!-- /.footer__inner -->
</div>
<!-- /.footer -->
