.mobile-app {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 8px;

	@media (min-width: 375px) {
		.main {
			&__pic {
				// flex-shrink: 0;
			}

			&__desc {
				// width: calc(100% - 86px);
			}

			&__calories, &__weight {
				font-size: 11px;
			}
		}
	}

	.swiper {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin-bottom: 56px;

		.swiper-pagination {
			width: 100%;
			margin-top: 16px;

			&-bullet {
				width: 7px;
				height: 7px;
				opacity: .6;
				background: #007bff;

				&-active {
					transform: unset;
					opacity: 1;
				}
			}
		}

		&-slide {
			display: flex;
			align-items: baseline;
			justify-content: center;
			border: solid 1px #f4f4f4;
			border-radius: 16px;
		}
	}

	.popup {
		&__dish {
			&-info {
				width: 100%;
				margin-bottom: 16px;
			}

			&-caption {
				margin-bottom: 0;

				// line-height: 2;
				a {
					margin-left: auto;
				}
			}

			&-reset {
				margin-left: auto;
			}

			&-subject {
				width: 100%;
			}
		}

		&__row {
			&.total {
				.popup__dish-caption {
					font-size: 24px;
				}
			}
		}
	}

	.main {
		&__item {
			flex-wrap: nowrap;
			width: 100%;
			margin-bottom: 14px;
		}

		&__text {
			flex-wrap: wrap;
			margin-bottom: 16px;
			// padding-right: 70px;
		}

		&__price {
			width: 100%;
		}

		&__caption {
			max-width: unset;
			color: black;
		}

		&__pic {
			flex-grow: 1;
			width: 120px;
			// max-width: 140px;
			min-width: 60px;
			height: auto;
			margin-right: 11px;
		}

		&__desc {
			flex-grow: 1;
			width: 50%;
			min-width: 186px;
		}

		&__card, &__order {
			// position: static;
		}

		&__order.active {

			background: url("../images/order-button-trash.svg") no-repeat 50%;
			svg {
				display: none;
			}
		}

		&__card {
			bottom: unset;
		}
	}

	.order {

		&__submit {}
		&-counter {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 125px;
			height: 40px;
			border-radius: 8px;
			// border: 1px solid #ebebeb;
			background-color: #ffffff;
			margin-right: auto;

			&__minus {
				display: block;
				width: 40px;
				height: 30px;
				background: url(../images/minus.svg) no-repeat center;
			}

			&__input {
				display: block;
				width: 32px;
				height: 30px;
				border: none;
				line-height: 1;
				text-align: center;
				font-size: 20px;
				font-weight: 500;
				line-height: 27px;
				text-align: center;
			}

			&__plus {
				display: block;
				width: 40px;
				height: 30px;
				background: url(../images/plus.svg) no-repeat center;
			}
		}
	}

	.order__submit, &__back-menu {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 40px;
		border: none;
		border-radius: 4px;
		background: #007aff;
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		cursor: pointer;
		margin-top: 24px;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		margin-bottom: 18px;
	}

	&__content {
		margin-bottom: 6px;

		.tabs-menu {
			overflow-x: auto;
			border-bottom: unset;
			padding-bottom: 12px;
		}

		.tabs-menu__link {
			display: flex;
			align-items: center;
			height: 32px;
			padding: 0 16px;
			border-bottom: unset;
			border-radius: 16px;
			background: #0000000a;
			font-size: 16px;
			font-weight: 300;
			line-height: 21px;
			text-align: center;
			color: black;

			// text-transform: uppercase;
			// letter-spacing: 0.6px;
			// padding-bottom: 4px;
			&:hover {
				color: black;
			}

			&:not(:last-of-type) {
				margin-right: 4px;
			}

			&.active {
				background: var(--blue);
				color: #fff;
			}

			&.active, &:hover {
				// font-size: 18px;
				// font-weight: 500;
				// line-height: 28px;
				text-decoration: none;
				border-bottom: unset;
			}

			&.active, &.active:hover {
				cursor: default;
				pointer-events: none;
			}
		}
	}

	&__banner {
		display: flex;
		align-items: baseline;
		width: 100%;
		margin-bottom: 0;

		.swiper {
			.swiper-pagination {
				margin-top: 8px;
			}

			&-slide {
				width: calc(100vw - 32px);
				border: unset;
			}

			&-wrapper {
				width: calc(100vw - 32px);
			}
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 40px;
	}

	&__address, &__tel, &__time, &__wifi {
		display: flex;
		align-items: center;
		position: relative;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 16px;
		padding-left: 30px;

		svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 24px;
			margin-right: 5px;
		}

		a {
			color: #000;
			border-bottom: 1px dashed #007aff47;
		}
	}

	&__time, &__wifi {
		// padding-left: 0;
		flex-wrap: wrap;
	}

	&__wifi {
		span {
			color: #81858b;
		}

		&-text {
			// &:first-of-type {
			// 	padding-left: 30px;
			// }
			margin-bottom: 5px;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}

	&__time-text {
		// &:first-of-type {
		// 	padding-left: 30px;
		// }
		margin-bottom: 5px;

		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&__property {
		display: none;
		width: 100%;
		height: 40px;
		padding: 10px 16px;
		border-radius: 4px;
		background: var(--blue);
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
	}

	&__order {
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(100% - 142px);
		min-width: 176px;
		height: 40px;
		padding: 10px 6px;
		border-radius: 4px;
		background: var(--blue);
		color: #fff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;

		&:before {
			content: "";
			flex-shrink: 0;
			width: 24px;
			height: 24px;
			background: url("../images/iconsadd-to-order.svg") no-repeat 50%;
			margin-right: 6px;
		}

		&.active {
			border-radius: 4px;
			background: #ff3b30;
			font-size: 0;

			&:before {
				content: "";
				width: 24px;
				height: 24px;
				background: url("../images/trash.svg") no-repeat 50%;
				margin-right: 6px;
			}

			&:after {
				content: "Удалить";
				font-size: 17px;
				// order: -1;
			}
		}
	}

	&__total {
		color: #007aff;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		text-align: right;
		margin-left: auto;
	}

	&__composition {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		color: #81858b;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		text-align: right;
		margin-top: 4px;

		span:not(:last-child):after {
			content: "/";
			margin: 0 4px;
		}
	}

	&__qr-code {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 16px 16px 28px;
		margin-top: 14px;
		border-radius: 8px;
		background: #ffffff;
		box-shadow: 0 4px 12px rgba(23, 29, 41, 0.08);

		.popup__dish-caption {
			text-align: center;
			margin-bottom: 16px;
		}
	}

	&__out {
		display: flex;
		justify-content: center;
		margin: 24px 0;

		&:before {
			content: url("../images/IconsOrder.svg");
		}
	}

	&__back {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		text-align: center;

		&-text {
			margin: 13px 0 24px;
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
		}

		&-link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 169px;
			height: 40px;
			border-radius: 4px;
			background: #007aff;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			color: #fff;
		}
	}

	img {
		max-width: 100%;
	}
}
