.mobile-app {
	margin-top: 16px;
	width: 100%;

	img {
		max-width: 100%;
	}

	&__subtitle {
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		margin-bottom: 18px;
	}

	&__content {
		margin-bottom: 16px;

		.tabs-menu {
			overflow-x: auto;
		}

		.tabs-menu__link {
			font-size: 16px;
			font-weight: 400;
			line-height: 21px;
			text-transform: uppercase;
			letter-spacing: 0.6px;
			padding-bottom: 4px;

			&.active {
				font-size: 16px;
				font-weight: 400;
				line-height: 21px;
			}
		}
	}

	.swiper {
		max-width: 100%;
		position: relative;
		margin-bottom: 56px;
		width: 100%;

		&-slide {
			border-radius: 16px;
			border: solid 1px #f4f4f4;
		}

		.swiper-pagination {
			width: 100%;
			margin-top: 16px;

			&-bullet {
				width: 7px;
				height: 7px;
				opacity: .6;
				background: #007bff;

				&-active {
					opacity: 1;
					transform: unset;
				}
			}
		}
	}

	.popup {
		&__dish {
			&-info {
				width: 100%;
				margin-bottom: 16px;
			}

			&-caption {
				margin-bottom: 0;

				a {
					margin-left: auto;
				}
			}

			&-reset {
				margin-left: auto;
			}
		}

		&__row {
			&.total {
				.popup__dish-caption {
					font-size: 24px;
				}
			}
		}
	}

	&__banner {
		margin-bottom: 0px;
		display: flex;
		align-items: baseline;
		width: 100%;

		.swiper {
			.swiper-pagination {
				margin-top: 8px;
			}
		}
	}

	&__info {
		margin-bottom: 40px;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__address,
	&__tel,
	&__time,
	&__wifi {
		display: flex;
		align-items: center;
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
		margin-bottom: 16px;
		position: relative;
		padding-left: 30px;

		svg {
			margin-right: 5px;
			width: 24px;
			height: 24px;
			position: absolute;
			left: 0;
			top: 0;
		}

		a {
			color: #000;
			border-bottom: 1px solid #007aff;
		}
	}

	&__time,
	&__wifi {
		// padding-left: 0;
		flex-wrap: wrap;
	}

	&__wifi {
		span {
			color: #81858b;
		}

		&-text {
			// &:first-of-type {
			// 	padding-left: 30px;
			// }
			margin-bottom: 5px;

			&:not(:last-child) {
				margin-right: 16px;
			}
		}
	}

	&__time-text {
		// &:first-of-type {
		// 	padding-left: 30px;
		// }
		margin-bottom: 5px;

		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&__property {
		padding: 10px 16px;
		width: 100%;
		height: 40px;
		border-radius: 4px;
		background: var(--blue);
		color: #ffffff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		display: none;
	}

	.main {
		&__item {
			width: 100%;
			flex-wrap: nowrap;
		}

		&__text {
			flex-wrap: wrap;
			// padding-right: 70px;
		}

		&__price {
			width: 100%;
		}

		&__caption {
			max-width: unset;
			color: black;
		}

		&__pic {
			width: 120px;
			height: auto;
			margin-right: 11px;
			// max-width: 140px;
			min-width: 70px;
			flex-grow: 1;
		}

		&__desc {
			width: auto;
			flex-grow: 1;
			min-width: 180px;
		}

		&__card,
		&__order {
			// position: static;
		}

		&__order.active {
			svg {
				display: none;
			}

			background: url('../images/order-button-trash.svg') no-repeat 50%;
		}

		&__card {
			bottom: unset;
		}
	}

	&__order {
		padding: 10px 14px;
		width: calc(100% - 142px);
		height: 40px;
		border-radius: 4px;
		background: var(--blue);
		color: #fff;
		font-size: 17px;
		font-weight: 400;
		line-height: 20px;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;

		&:before {
			width: 24px;
			height: 24px;
			content: "";
			background: url('../images/iconsadd-to-order.svg') no-repeat 50%;
			margin-right: 6px;
		}

		&.active {
			border-radius: 4px;
			background: #ff3b30;
			font-size: 0;

			&:before {
				width: 24px;
				height: 24px;
				content: "";
				background: url('../images/trash.svg') no-repeat 50%;
				margin-right: 6px;
			}

			&:after {
				content: 'Удалить';
				font-size: 17px;
				// order: -1;
			}
		}
	}

	&__total {
		color: #007aff;
		font-size: 24px;
		font-weight: 400;
		line-height: 32px;
		text-align: right;
		margin-left: auto;
	}

	&__composition {
		color: #81858b;
		font-size: 16px;
		font-weight: 400;
		line-height: 21px;
		text-align: right;
		display: flex;
		justify-content: flex-end;
		margin-top: 8px;
		width: 100%;

		span:not(:last-child):after {
			content: '/';
			margin: 0 2px;
		}
	}

	&__qr-code {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 46px;
		border-radius: 8px;
		background: #ffffff;
		box-shadow: 0px 4px 12px rgba(23, 29, 41, 0.08);
		padding: 16px;

		.popup__dish-caption {
			text-align: center;
			margin-bottom: 16px;
		}
	}

	.order {
		&-counter {
			display: flex;
			align-items: center;
			width: 96px;
			height: 40px;
			border-radius: 8px;
			// border: 1px solid #ebebeb;
			background-color: #ffffff;
			justify-content: space-between;
			margin-right: auto;

			&__minus {
				width: 40px;
				height: 30px;
				background: url(../images/minus.svg) no-repeat center;
				display: block;
			}

			&__input {
				line-height: 1;
				border: none;
				width: 32px;
				height: 30px;
				text-align: center;
				display: block;
				font-size: 20px;
				font-weight: 500;
				line-height: 27px;
				text-align: center;
			}

			&__plus {
				width: 40px;
				height: 30px;
				background: url(../images/plus.svg) no-repeat center;
				display: block;
			}
		}

		&__submit {
			height: 40px;
			border-radius: 4px;
			background: #007aff;
			width: 100%;
			color: #ffffff;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			cursor: pointer;
			margin-top: 24px;
		}
	}

	&__out {
		display: flex;
		justify-content: center;
		margin: 24px 0;

		&:before {
			content: url("../images/IconsOrder.svg");
		}
	}

	&__back {
		font-size: 20px;
		font-weight: 500;
		line-height: 27px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		&-text {
			font-size: 16px;
			font-weight: 400;
			line-height: 22px;
			margin: 13px 0 24px;
		}

		&-link {
			width: 169px;
			height: 40px;
			border-radius: 4px;
			background: #f5a623;
			font-size: 17px;
			font-weight: 400;
			line-height: 20px;
			text-align: center;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	@media (min-width: 375px) {
		.main {
			&__pic {
				flex-shrink: 0;
			}

			&__desc {
				// width: calc(100% - 86px);
				width: 60%;
			}

			&__calories,
			&__weight {
				font-size: 11px;
			}
		}
	}
}
