<div class="login">
	<div class="login__title">Онлайн-меню</div>
	<!-- /.login__title -->
	<div class="login__form">
		.login__header>.login__subtitle+
	</div>
	<!-- /.login__form -->
</div>
<!-- /.login -->
