<div class="file">
	<div class="file__section">
		<div class="file__field">
			<div class="file__text">Заключение авторизованного сервисного центра.doc</div>
			<div class="file__delete js-file__delete"></div>
		</div>
		<div class="file__field">
			<div class="file__text">DSC_182112.jpg</div>
			<div class="file__delete js-file__delete"></div>
		</div>
	</div>
	<div class="file__footer">
		<span class="file__button">Загрузить файлы<input class="file__input" type="file"/></span>
	</div>
</div>
