<div class="popup__content password">
	<div class="popup__title">Создайте пароль</div>
	<form class="popup__form">
		<div class="popup__boss">
			<div class="popup__row">
				<div class="popup__subtitle">
					Новый пароль
				</div>
				<!-- /.popup__subtitle -->
				<input type="password" data-form-label="" class="popup__input" placeholder="">
			</div>
			<div class="popup__row">
				<div class="popup__subtitle">
					Повторите новый пароль
				</div>
				<!-- /.popup__subtitle -->
				<input type="password" required  data-form-label="" class="popup__input">
			</div>
			<div class="popup__row">
				<input type="submit" class="popup__submit" value="Сохранить пароль">
				<!-- /.login__button -->
			</div>
		</div>
		<!-- /.popup__boss -->

	</form>
	<script>

	</script>
</div>
