<!DOCTYPE html>
<html lang="en">

{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% from "login/login.njk" import login %}
		{{
			login(
				subtitle = 'Регистрация',
				password='Придумайте пароль',
				subpassword='Повторите пароль',
				button='ЗАРЕГИСТРИРОВАТЬСЯ'
			)
		}}

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
