<!DOCTYPE html>
<html lang="en">

{% include "head/head.njk" %}

<body class="mobile">

	<div class="wrapper">

		<div class="header">
			<div class="header__inner">
				<div class="header__row">
					<div class="header__col">

						<div class="logo">
							{# <a href="/" class="logo__link">QSushi</a> #}
							<a href="/" class="logo__link"><img src="images/Slice.png" alt=""></a>

						</div>
						<!-- /.logo -->

					</div>
					<!-- /.header__col -->
					<div class="header__col header__col_right">

						<div class="lang">
							<div class="lang__list js-lang__list">
								<div class="lang__item js-lang__item active">
									<a href="#" class="lang__link   ">Ru</a>
								</div>
								<!-- /.lang__item -->
								<div class="lang__item js-lang__item">
									<a href="#" class="lang__link  ">En</a>
								</div>
								<!-- /.lang__item -->
								<div class="lang__item js-lang__item">
									<a href="#" class="lang__link ">Es</a>
								</div>
								<!-- /.lang__item -->
							</div>
							<!-- /.lang__list -->
							<?xml version="1.0" encoding="utf-8"?>
							<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
								xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
								<desc>Created with Lunacy</desc>
								<g id="17.-Icon/Medium/Chevron-down">
									<path
										d="M9.4625 0.2925L5.5825 4.1725L1.7025 0.2925C1.3125 -0.0975 0.6825 -0.0975 0.2925 0.2925C-0.0975 0.6825 -0.0975 1.3125 0.2925 1.7025L4.8825 6.2925C5.2725 6.6825 5.9025 6.6825 6.2925 6.2925L10.8825 1.7025C11.2725 1.3125 11.2725 0.6825 10.8825 0.2925C10.4925 -0.0875 9.8525 -0.0975 9.4625 0.2925L9.4625 0.2925Z"
										transform="translate(6.4175 8.9975)" id="chevron-down" fill="#FFFFFF"
										stroke="none" />
								</g>
							</svg>
						</div>
						<!-- /.lang -->
					</div>
					<!-- /.header__col -->
				</div>
				<!-- /.header__row -->
			</div>
			<!-- /.header__inner -->
		</div>

		{% from "mobile/mobile.njk" import mobile%}

		{{
				mobile(	)
		}}

		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
