<!DOCTYPE html>
<html lang="en">

{% include "head/head.njk" %}

<body>

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		<ol>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/adding-institution/adding-institution.html">
					Добавление заведения
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/editing-institution/editing-institution.html">
					Редактирование заведения
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/adding-dish/adding-dish.html">
					блюда
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/editing-dish/editing-dish.html">
					Добавление блюда
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/mobile-popup/mobile-popup.html">
					попап mobile
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/category/category.html">
					категории
				</a>
			</li>
			<li>
				<a href="#" data-ajax data-url="ajax/popup/boss/boss.html">
					Жалоба руководствуи шеф повару
				</a>
			</li>
		</ol>
		{% include "footer/global/footer.njk" %}
	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
