<!DOCTYPE html>
<html lang="en">

{% include "head/head.njk" %}

<body name="theme-color" content="#84db94">

	<div class="wrapper">

		{% include "header/global/header.njk" %}

		{% from "profile/profile.njk" import profileInput%}
		<div class="main">
			<div class="main__inner">
				{{
					profileInput()
				}}
			</div>
		</div>
		<!-- /.main -->
		{% include "footer/global/footer.njk" %}

	</div>
	<!-- /.wrapper -->

	{% include "connect/script.njk" %}

</body>
</html>
