	<div class="popup__content">
		<div class="popup__title">Жалоба руководству и шеф повару</div>

		<div class="popup__excerpt">
			<p>Если вы столкнулись с какими-либо проблемами на любом этапе заказа - мы будем благодарны за подробную
				информацию.</p>
			<p>Все сообщения рассматриваются лично руководством магазина.</p>
		</div>
		<form class="popup__form">
			<div class="popup__boss">
				<div class="popup__row">
					<div class="popup__subtitle">
						Имя
					</div>
					<!-- /.popup__subtitle -->
					<input type="text" data-form-label="" class="popup__input" placeholder="">
				</div>
				<div class="popup__row">
					<div class="popup__subtitle">
						Телефон
					</div>
					<!-- /.popup__subtitle -->
					<input type="tel" data-form-label="" class="popup__input" placeholder="+7 _ _ _ – _ _ – _ _">
				</div>
				<div class="popup__row">
					<div class="popup__subtitle">
						E-mail
					</div>
					<!-- /.popup__subtitle -->
					<input type="email" data-form-label="" class="popup__input">
				</div>
				<div class="popup__row">
					<div class="profile__subtitle">
						Комментарий
					</div>
					<!-- /.profile__subtitle -->
					<textarea class="profile__input" placeholder=""></textarea>
				</div>
				<!-- /.popup__row -->
				<div class="file file-foto">
					<div class="file__section">
						<div class="file__field">
							<img data-src="images/swiper.png" src="images/swiper.png" alt="" class="file__foto">
							<div class="popup__images-delete js-file__delete"></div>
						</div>
					</div>
					<div class="file__section">
						<div class="file__field">
							<img data-src="images/swiper.png" src="images/swiper.png" alt="" class="file__foto">
							<div class="popup__images-delete js-file__delete"></div>
						</div>
					</div>
					<div class="popup__add-file">
						<div class="file__footer">
							<a href="#" class="file__button"> добавить фото
								<input class="file__input" type="file" accept="image/*" />
							</a>
						</div>
					</div>
				</div>
				<div class="popup__row">

					<input type="submit" class="popup__submit" value="Отправить жалобу">
					<!-- /.login__button -->

					<div class="login__oferta">
						Нажимая «Продолжить» вы подтверждаете своё согласие с
						<a href="#" target="_blank">политикой обработки персональных данных</a>
					</div>

				</div>
			</div>
			<!-- /.popup__boss -->

		</form>
		<script>
			form();
		</script>
	</div>

	<!-- /.popup__lang -->
	<!-- /.popup__subtitle -->
	<!-- /.popup__content -->
