	<div class="popup__content">
		<div class="popup__title">Добро пожаловать в&nbspQSushi</div>

		<div class="popup__glad">
			Мы рады видеть вас и бла блана несколько строк текста
		</div>
		<form class="popup__form">
			<div class="popup__lang">
				<div class="popup__subtitle">Выберите язык(Choose language)</div>
				<!-- /.popup__subtitle -->
				<ul class="popup__list">
					<li>
						<a href="#">
							Русский
						</a>
					</li>
					<li>
						<a href="#">
							Русский-2
						</a>
					</li>
					<li class="active">
						<a href="#">
							Русский-3
						</a>
					</li>
				</ul>
				<svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">

					<g id="17.-Icon/Medium/Chevron-down">
						<path
							d="M9.4625 0.2925L5.5825 4.1725L1.7025 0.2925C1.3125 -0.0975 0.6825 -0.0975 0.2925 0.2925C-0.0975 0.6825 -0.0975 1.3125 0.2925 1.7025L4.8825 6.2925C5.2725 6.6825 5.9025 6.6825 6.2925 6.2925L10.8825 1.7025C11.2725 1.3125 11.2725 0.6825 10.8825 0.2925C10.4925 -0.0875 9.8525 -0.0975 9.4625 0.2925L9.4625 0.2925Z"
							transform="translate(6.4175 8.9975)" id="chevron-down" fill="#007aff;" stroke="none"></path>
					</g>
				</svg>
				<input type="submit" class="popup__submit" value="Применить">
			</div>
		</form>
	</div>

	<!-- /.popup__lang -->
	<!-- /.popup__subtitle -->
	<!-- /.popup__content -->
